@font-face {
  font-family: "Protest";
  font-style: normal;
  src: url(../../public/fonts/ProtestGrotesk.ttf) format("truetype"),
    url(../../public/fonts/ProtestGrotesk.woff) format("woff"),
    url(../../public/fonts/ProtestGrotesk.woff2) format("woff2");
}

:root {
}

::selection {
  background: none;
  color: lightgray;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(250, 250, 250);
  font-family: "Protest";
  font-weight: 100;
  color: rgb(77, 77, 77);
}

p {
  font-size: 18pt;
  line-height: 25pt;
  word-spacing: -2px;
  font-feature-settings: "ss02";
}

.logoWrapper {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.logoWrapper img {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.logoWrapper img:hover {
  opacity: 0.3;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  color: black;
}

.infoWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(250, 250, 250);
  animation: fadeIn 1s ease-out;
  z-index: 100;
  padding: 10vw 20vw;
  overflow-x: hidden;
}

.infoWrapper p {
  padding-bottom: 30px;
}

.infoInner {
  width: 800px;
}

.infoBig p {
  padding-top: 50px;
  font-size: 35pt;
  line-height: 39pt;
  font-weight: 130;
  letter-spacing: -1px;
  width: 100%;
  position: absolute;
  left: 30px;
  color: rgb(183, 183, 183);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  p {
    font-weight: 120;
    font-size: 15pt;
    line-height: 22pt;
    word-spacing: -1.5px;
  }

  .logoInner {
    width: 200px;
    height: 40px;
  }

  .infoWrapper {
    padding: 20vh 12px;
  }
  .infoBig p {
    text-align: left;
    font-size: 20pt;
    line-height: 25pt;
    letter-spacing: 0px;
    left: 10px;
  }

  .infoBig a {
    color: rgb(46, 46, 46);
  }
}
